table{
	border: 0px;
	align-self: center;
    width: 900px;
    border-spacing: 0px;
    margin: 20px auto 0px auto;

}

.red{
	height: 150px;
	background-color: #ff0004;
}

.green{
	height: 20px;
	background-color: #00ff00;
}

.d_blue{
	height: 500px;
	width: 225px;
	background-color: #0039FF;
}

.yellow{
	height: 500px;
	width: 450px;
	background-color: #D3F300;
}

.l_blue{
	height: 500px;
	width: 225px;
	background-color: #00EED4;
}